.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 72px;
	padding: 0 100px;
	box-shadow: 0px 2px 10px 0px #0206170f;
	position: sticky;
	background-color: #fff;
	top: 0;
	left: 0;
	z-index: 100;
}

.header-title {
	font-size: 24px;
	font-weight: bold;
	color: #1e293b;
	position: relative;
}

.header-title::before {
	content: "🎓";
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -12px;
	left: -15px;
	rotate: -11deg;
}

@media (min-width: 320px) and (max-width: 480px) {
	.header {
		height: 60px;
		padding: 0 10px;
	}

	.header-title {
		font-size: 16px;
	}

	.header-title::before {
		width: 30px;
		height: 30px;
		top: -10px;
		left: -10px;
		rotate: -11deg;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.header {
		height: 72px;
		padding: 0 30px;
	}

	.header-title {
		font-size: 20px;
	}

	.header-title::before {
		width: 40px;
		height: 40px;
		top: -12px;
		left: -15px;
		rotate: -11deg;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.header {
		height: 72px;
		padding: 0 50px;
	}

	.header-title {
		font-size: 24px;
	}

	.header-title::before {
		width: 40px;
		height: 40px;
		top: -12px;
		left: -15px;
		rotate: -11deg;
	}
}

/* @media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1199px) {
} */
