.dynamic_select {
	position: relative;
	display: grid;
	place-items: center;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	padding: 0 12px;
	width: 180px;
	height: 44px;
	cursor: pointer;
	transition: all 0.3s ease;
	flex-shrink: 0;
}

.rotate {
	transform: rotate(180deg);
}

.select_content {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
	width: 100%;

	img {
		transition: all 0.3s ease;
		width: 12px;
		height: 8px;
	}
}

.placeholder {
	color: #64748b;
	font-size: 14px;
	font-weight: 400;
	text-wrap: nowrap;
}

.opt_list {
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	top: 40px;
	left: -1;
	width: 100%;
	border: 1px solid #e0e0e0;
	border-top: none;
	max-height: 200px;
	overflow-y: auto;
	background-color: #fff;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	

	&::-webkit-scrollbar {
		background-color: #e2e8f0;
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #64748b;
		border-radius: 2px;
	}
}

.opt_item {
	padding: 10px 12px;
	cursor: pointer;
	color: #64748b;
	font-size: 14px;
	font-weight: 400;
	text-wrap: nowrap;

	&:hover {
		background-color: #e2e8f0;
	}

	&.active {
		background-color: #e2e8f0;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.dynamic_select {
		padding: 0 8px;
		width: 150px;
		height: 40px;
	}

	.opt_list {
		position: absolute;
		list-style-type: none;
		padding: 0;
		margin: 0;
		top: 40px;
		left: -1;
		width: 100%;
		border: 1px solid #e0e0e0;
		border-top: none;
		max-height: 200px;
		overflow-y: auto;
		background-color: #fff;
		border-radius: 0 0 4px 4px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

		&::-webkit-scrollbar {
			background-color: #e2e8f0;
			width: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #64748b;
			border-radius: 2px;
		}
	}

	.opt_item {
		padding: 10px 12px;
		cursor: pointer;
		color: #64748b;
		font-size: 14px;
		font-weight: 400;
		text-wrap: nowrap;

		&:hover {
			background-color: #e2e8f0;
		}

		&.active {
			background-color: #e2e8f0;
		}
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.courses_main {
		padding: 30px 30px;
	}

	.page_title {
		font-size: 20px;
		line-height: 30px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.courses_main {
		padding: 30px 50px;
	}

	.page_title {
		font-size: 20px;
		line-height: 30px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.courses_main {
		padding: 30px 100px;
	}

	.page_title {
		font-size: 20px;
		line-height: 30px;
	}
}

@media (min-width: 1199px) {
	.filter_sec {
		margin-bottom: 25px;
		display: flex;
		align-items: center;
		gap: 20px;
	}
}
