.progress_bar {
	width: 100%;
	min-width: 140px;
	height: 12px;
	border-radius: 6px;
	background-color: #e5e7eb;
	position: relative;
}

.used_text {
	position: absolute;
	right: 10px;
	font-size: 8px;
	font-weight: 400;
	color: #64748b;
}

.progress_bar_fill {
	position: absolute;
	left: 0;
	height: 100%;
	background-color: #00b894;
	border-radius: 6px;
}

.danger {
	background-color: #ef4444;
}

.warning {
	background-color: #f8c579;
}

.white_text {
	color: #fff;
}
