.courses_main {
	padding: 30px 100px;
}

.page_cta {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
}

.page_title {
	color: #1e293b;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	margin: 0;
	margin-bottom: 8px;
}

.page_subtitle {
	color: #64748b;
	font-size: 14px;
	font-weight: 400;
}

.no_courses {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 200px;
}

.no_courses_title {
	color: #1e293b;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	margin: 0;
	margin-bottom: 8px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.courses_main {
		padding: 20px 10px;
	}

	.page_title {
		font-size: 18px;
		line-height: 25px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.courses_main {
		padding: 30px 30px;
	}

	.page_title {
		font-size: 20px;
		line-height: 30px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.courses_main {
		padding: 30px 50px;
	}

	.page_title {
		font-size: 20px;
		line-height: 30px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.courses_main {
		padding: 30px 100px;
	}

	.page_title {
		font-size: 20px;
		line-height: 30px;
	}
}

@media (min-width: 1199px) {
	.filter_sec {
		margin-bottom: 25px;
		display: flex;
		align-items: center;
		gap: 20px;
	}
}
